<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% if current_user != nil && @restaurant != nil %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
<% end %>
<div class="field">
<%= f.label "Enter a message:" %><br>
<%= f.text_area :message %><br>
</div>
<div class="actions">
<%= button_to 'Add comment' %>
</div>

<% end %>
