<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Up votes:</strong>
  <%= Restaurant.upvotes(@restaurant.id) %>
</p>

<p>
  <strong>Down votes:</strong>
  <%= Restaurant.downvotes(@restaurant.id) %>
</p>

<%= button_to "Upvote", upvote_path, method: 'patch' , params: {id: @restaurant.id} %><br>
<%= button_to "Downvote", downvote_path, method: 'patch', params: {id: @restaurant.id} %><br>

<%= render 'comments/form' %>

<h3>Comments:</h3>
<% @comments.reverse.each do |comment| %>
	<% if comment.restaurant.name == @restaurant.name %>
		<div>
		<%= @userStr %>
		<%= comment.user.email %><br>
		<%= @restaurantName %>
		<%= comment.restaurant.name %><br>
		<%= @commentStr %>
		<%= comment.message %><br>
		<%= @timeStr %>
		<%= comment.created_at %>
		<br><br>
		</div>
	<% end %>
<% end %>

<%= link_to 'Back', restaurants_path %>

